src/WordAddIn1/WordAddIn1/Web References/WebService/WordAddinService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ValidFileDate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dateString" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidFileDateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ValidFileDateResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DownFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Key" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DownFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DownFileResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUrl">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Key" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUrlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUrlResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFiles">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFilesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFilesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActiveProject">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ActionCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MachineCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActiveProjectResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ActiveProjectResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SignForPerson">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MachineCode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="isSign" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SignForPersonResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SignForPersonResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SignForEntire">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MachineCode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="isSign" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SignForEntireResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SignForEntireResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ValidFileDateSoapIn">
    <wsdl:part name="parameters" element="tns:ValidFileDate" />
  </wsdl:message>
  <wsdl:message name="ValidFileDateSoapOut">
    <wsdl:part name="parameters" element="tns:ValidFileDateResponse" />
  </wsdl:message>
  <wsdl:message name="DownFileSoapIn">
    <wsdl:part name="parameters" element="tns:DownFile" />
  </wsdl:message>
  <wsdl:message name="DownFileSoapOut">
    <wsdl:part name="parameters" element="tns:DownFileResponse" />
  </wsdl:message>
  <wsdl:message name="GetUrlSoapIn">
    <wsdl:part name="parameters" element="tns:GetUrl" />
  </wsdl:message>
  <wsdl:message name="GetUrlSoapOut">
    <wsdl:part name="parameters" element="tns:GetUrlResponse" />
  </wsdl:message>
  <wsdl:message name="GetFilesSoapIn">
    <wsdl:part name="parameters" element="tns:GetFiles" />
  </wsdl:message>
  <wsdl:message name="GetFilesSoapOut">
    <wsdl:part name="parameters" element="tns:GetFilesResponse" />
  </wsdl:message>
  <wsdl:message name="ActiveProjectSoapIn">
    <wsdl:part name="parameters" element="tns:ActiveProject" />
  </wsdl:message>
  <wsdl:message name="ActiveProjectSoapOut">
    <wsdl:part name="parameters" element="tns:ActiveProjectResponse" />
  </wsdl:message>
  <wsdl:message name="SignForPersonSoapIn">
    <wsdl:part name="parameters" element="tns:SignForPerson" />
  </wsdl:message>
  <wsdl:message name="SignForPersonSoapOut">
    <wsdl:part name="parameters" element="tns:SignForPersonResponse" />
  </wsdl:message>
  <wsdl:message name="SignForEntireSoapIn">
    <wsdl:part name="parameters" element="tns:SignForEntire" />
  </wsdl:message>
  <wsdl:message name="SignForEntireSoapOut">
    <wsdl:part name="parameters" element="tns:SignForEntireResponse" />
  </wsdl:message>
  <wsdl:portType name="WordAddinServiceSoap">
    <wsdl:operation name="ValidFileDate">
      <wsdl:input message="tns:ValidFileDateSoapIn" />
      <wsdl:output message="tns:ValidFileDateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DownFile">
      <wsdl:input message="tns:DownFileSoapIn" />
      <wsdl:output message="tns:DownFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUrl">
      <wsdl:input message="tns:GetUrlSoapIn" />
      <wsdl:output message="tns:GetUrlSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFiles">
      <wsdl:input message="tns:GetFilesSoapIn" />
      <wsdl:output message="tns:GetFilesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ActiveProject">
      <wsdl:input message="tns:ActiveProjectSoapIn" />
      <wsdl:output message="tns:ActiveProjectSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SignForPerson">
      <wsdl:input message="tns:SignForPersonSoapIn" />
      <wsdl:output message="tns:SignForPersonSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SignForEntire">
      <wsdl:input message="tns:SignForEntireSoapIn" />
      <wsdl:output message="tns:SignForEntireSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WordAddinServiceSoap" type="tns:WordAddinServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidFileDate">
      <soap:operation soapAction="http://tempuri.org/ValidFileDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownFile">
      <soap:operation soapAction="http://tempuri.org/DownFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUrl">
      <soap:operation soapAction="http://tempuri.org/GetUrl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFiles">
      <soap:operation soapAction="http://tempuri.org/GetFiles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActiveProject">
      <soap:operation soapAction="http://tempuri.org/ActiveProject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SignForPerson">
      <soap:operation soapAction="http://tempuri.org/SignForPerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SignForEntire">
      <soap:operation soapAction="http://tempuri.org/SignForEntire" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WordAddinServiceSoap12" type="tns:WordAddinServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidFileDate">
      <soap12:operation soapAction="http://tempuri.org/ValidFileDate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownFile">
      <soap12:operation soapAction="http://tempuri.org/DownFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUrl">
      <soap12:operation soapAction="http://tempuri.org/GetUrl" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFiles">
      <soap12:operation soapAction="http://tempuri.org/GetFiles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActiveProject">
      <soap12:operation soapAction="http://tempuri.org/ActiveProject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SignForPerson">
      <soap12:operation soapAction="http://tempuri.org/SignForPerson" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SignForEntire">
      <soap12:operation soapAction="http://tempuri.org/SignForEntire" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WordAddinService">
    <wsdl:port name="WordAddinServiceSoap" binding="tns:WordAddinServiceSoap">
      <soap:address location="http://10.115.246.179:30001/WordAddinService.asmx" />
    </wsdl:port>
    <wsdl:port name="WordAddinServiceSoap12" binding="tns:WordAddinServiceSoap12">
      <soap12:address location="http://10.115.246.179:30001/WordAddinService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>